<% content_for :body_class, 'bg-light' %>

<section class="section ticket-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @ticket.destination %></h1>

      <ul class="pv1">
        <li class="inline-block pr3"><%= @ticket.operator %></li>

        <li class="inline-block pr3"><%= @ticket.amount %></li>

        <li class="inline-block pr3"><%= @ticket.departure.to_formatted_s(:long) %></li>

        <li class="inline-block pr3"><%= @ticket.arrival.to_formatted_s(:long) %></li>
      </ul>
    </div>
    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
        <h4 class="title is-5 has-text-centered"><%= number_to_currency(@ticket.price) %></h4>
        <p class="has-text-centered mb4">Sold by <%= @ticket.operator %></p>
        <%= button_to 'Buy ticket', line_items_path(ticket_id: @ticket), class: 'button is-warning add-to-cart' %>
      </div>
    </div>
  </div>
</section>