<p id="notice"><%= notice %></p>

<p>
  <strong>Operator:</strong>
  <%= @ticket.operator %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @ticket.destination %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @ticket.amount %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @ticket.departure %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @ticket.arrival %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
