<div class="columns align-items-center">
  <div class="column is-1">
    <%= line_item.quantity %>
  </div>
  <div class="column is-9">
    <strong><%= line_item.ticket.destination %></strong>
    <div class="columns align-items-center">
      <div class="content column is-9">
        <%= line_item.ticket.operator %>
      </div>
      <div class="content column is-9">
        <%= line_item.ticket.departure.to_formatted_s(:long) %>
      </div>
      <div class="column is-3 has-text-right">
        <strong class="f4"><%= number_to_currency(line_item.total_price) %></strong>
      </div>
    </div>
  </div>
</div>


<% if DateTime.now < (line_item.ticket.departure - (1/24.0)) %>
  <div class="has-text-right">
    <%= link_to 'Cancel ticket', line_item, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-small mb4" %>
  </div>
<% else %>
  <strong>You can't cancel the ticket less than one hour before departure</strong>
<% end %>

<hr/>